/*This sets the global box settings for the page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*sets the display for the page*/
body {
    font-family: sans-serif;
    display: grid;   
    grid-template-rows: 50px 280px 1000px 50px;
}

/*This sets the box and display properties for the header sections*/
header {
    grid-column-start: 1;
    grid-column-end:4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #08809e;
    align-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

/*This sets the font colour for the text header sections*/
header h3 {
    color: white;
}

/*This sets the box and display properties for the nav elements in the header section*/
nav {
    grid-column: 2 / 4;
    justify-self: flex-end;
    background-color:#08809e;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    align-content: center;
}

/*This sets the box and display properties for the hero section*/
.hero {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

/*This sets the properties and image size in the hero section*/
.hero img { display: flex;
    max-width: 250px;
    margin: 0;
    padding-top: 15px;
}
    

/*This sets the box/grid properties main section*/
main {
    grid-column: 1 / 4;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'sec-1 sec-2 sec-2'
    'sec-1 sec-2 sec-2'
    'sec-3 sec-4 sec-4'
    'sec-3 sec-4 sec-4'
    'sec-3 sec-4 sec-4'
    'sec-3 sec-4 sec-4'
    'sec-3 sec-5 sec-6'
    'sec-3 sec-5 sec-6'
    'sec-7 sec-8 sec-8'
}
/*This sets a border around the grid elements section*/
main section {
    padding: 15px;
    border: 2px solid #08809e;
}

/*This sets the grid position and background images and font properties for the relevant section*/
#about {
    grid-area: sec-1;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#work {
    grid-area: sec-3;
    background-image: url(../images/02-portfolio-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    grid-area: sec-7;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#about-detail {
    grid-area: sec-2;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#about-detail p {
    text-align: center;
    padding-top: 20px;
    color: black;
    font-size: larger;
}


#furniture-page {
    grid-area: sec-4;
    background-image: url(../images/Furniture-website.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#horiseon-page {
    grid-area: sec-5;
    background-image: url(../images/Horiseon\ Homepage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#prework-page {
    grid-area: sec-6;
    background-image: url(../images/Prework-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-form {
    grid-area: sec-8;
    padding-top: 50px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    height:  35px;
    color: white;
    font-size: 18px;
    padding-left: 25px;
}

.heading a {
    color: white;
    text-decoration: none;
}     

#contact-form a {
    margin-top: 50px;
    margin-left: 30px;
    padding: 15px;
    font-size: large;
    font-weight: bold;
}
/*sets font colour for contact links*/
.tel {
    color: black;
}

.em {
    color: red;
}

.tw {
    color: green;
}

.fb {
    color: blue;
}

/*This sets the properties and image size in the hero section*/
footer {
    display: grid;
    grid-column: 1 / 4;
    background-color: #08809e;
    align-content: center;
    color: white;
    padding: 15px;
}

/*refactors display for smaller screens*/
@media (max-width: 768px) {
    main {
    width: 100%;
    display: grid;
    grid-template-areas:
        'sec-1 sec-1'
        'sec-2 sec-2'
        'sec-3 sec-3'
        'sec-4 sec-4'
        'sec-4 sec-4'
        'sec-5 sec-6'
        'sec-7 sec-7'
        'sec-8 sec-8'
    }
}

@media (max-width: 768px) {
    nav a {
        font-size: small;
        padding: 0;
    }
}